form {
  background-color: #bbdefb;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  padding: 10px;
}

form button {
  background-color: #006ba6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  padding: 10px;
}

form input , select , option {
  background-color: whitesmoke;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

form .value {
  text-align: center;
  width: 100px;
}

footer {
  bottom: 0;
  padding: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}
