form {
  background-color: #bbdefb;
  display: flex;
  font-size: 0.8rem;
  justify-content: center;
  padding: 10px;
}

form .button--disabled {
  background-color: #006ba6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: 0.6;
  padding: 10px;
}

form .button--able {
  background-color: #006ba6;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
  opacity: none;
  padding: 10px;
}


form input , select , option {
  background-color: whitesmoke;
  border-radius: 8px;
  margin: 10px;
  padding: 5px;
}

form .value {
  text-align: center;
  width: 100px;
}

footer {
  background-color: #006ba6;
  bottom: 0;
  color: #ffbc42;
  font-weight: 600;
  padding: 10px;
  position: fixed;
  width: 100%;
}

footer img {
  margin: 5px;
}

footer div {
  align-items: center;
  display: flex;
  justify-content: center;
}
