header {
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 10px;
}

.container-logo {
  align-items: center;
  display: flex;
  gap: 10px;
}

h2 {
  background-color: #006ba6;
  color: #ffbc42;
  font-size: 1.8rem;
}

.container-user {
  align-items: center;
  display: flex;
  gap: 10px;
  padding: 10px;
}

header , .container-user , span {
  background-color: #006ba6;
  color: #ffbc42;
  font-size: 1.2rem;
  font-weight: 600;
}

.user-expense {
  color: #70e000;
}
